* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    /*border: 1px solid black;*/
  }

  body{
    background-image: url("https://github.com/Alicino88/pinkmoodlandingpage/blob/master/pic2.png?raw=true");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  input:focus {
    /*removes selection highlight of the input field when you click it*/
    outline: none;
}

input{
  font-size: 18px;
  color: #6e6d6d;
  /*adds padding around actual text*/
  padding-left: 10px;
}

::placeholder{
  color: #dbd9db;
  font-size: 15px;
}

.container{
    margin-top: 20px;
    display: flex;
    height: 600px;
    margin-bottom: 20px;
    height: 800px;
    align-items:center;
    justify-content: space-between;
  }

  .titles{
    width: 600px;
    margin-left: 60px;
  }

  .h1{
    margin-bottom: 60px;
    font-family: 'Anton', sans-serif;
    letter-spacing: 4px;
    word-spacing: 7px;
    color: #ededed;
    font-size: 20px;
  }


  .h2{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #ededed;
    line-height: 40px;
  }

  p, label, button {
    font-family: 'Roboto', sans-serif;
    color: #6e6d6d;
  }

  .label{
    font-size: 18px;
    margin-bottom: 10px;
  }


  p {
    font-size: 25px;
  }

  button{
    border: none;
    background-color: #e876f5;
    font-size: 20px;
    color: white;
    border-radius: 3px;
  }

  button:focus{
    outline: none;
  }

  button:hover{
    background-color: white;
    border: 2px solid #e876f5;
    color:  #e876f5;
    cursor: pointer;
  }

.formcontainer{
  margin-left:100px;
  margin-right: 100px;
  height: 480px;
  /*border: 1px solid blue;*/
  padding: 30px;
  display: flex;
  align-items: center;
  background-color: #ededed;
  border-radius: 3px;
  box-shadow: 20px 20px 15px #6f6d68;
}

.form{
  display:flex;
  flex-direction: column;
  /*border: 1px solid red;*/
  width: 500px;

}

.names{
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.email-container{
  margin-top: 20px;
}

.company-container{
  margin-top: 20px;
}

.button{
  margin-top: 50px;
}

input[type=text] {
   width: 200px;
   height:45px
}

input[type=email] {
   width: 500px;
   height:40px
}

input[type=text].companyname{
  width: 500px;
  height:40px;
  border:none;
}

.button{
  display: flex;
  justify-content: center;
}


@media only screen and (min-width: 861px) and (max-width: 1181px){
.container{
  flex-direction: column;
  height: 900px;
}

.titles{
  margin-top: 30px;
  margin: auto;
  width: 800px;

}

.formcontainer{
  margin-bottom:60px;

}
}

@media only screen and (min-width: 651px) and (max-width: 860px){
  .container{
    flex-direction: column;
    height: 900px;
  }
  .titles{
    width: 600px;

    margin-top: 60px;
    margin: auto;
  }

  .formcontainer{
    margin-bottom:40px;

  }
}

@media only screen and (max-width: 650px){
  .container{
    flex-direction: column;
    height: 1100px;
  }

  .titles{
    width: 320px;
    margin: auto;
    margin-top: 30px;
  }

  .h1{
    font-size: 14px;
    margin-top: 60px;
    margin-bottom: 40px;
    text-align: center;
  }

  .h2{
    font-size: 12px;

  }

.formcontainer{
  height: 600px;
  margin-bottom: 110px;
}

  .form{
    width: 250px;
  }

  .names{
  flex-direction: column;
  }

  input[type=text] {
     width: 250px;
     height:40px
  }

  input[type=email] {
     width: 250px;
     height:40px
  }
  input[type=text].companyname{
    width: 250px;
    height:40px;
    border:none;
  }
 .lastname-container{
   margin-top: 20px;
 }

}

